@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@font-face {
  font-family: suisse;
  src: url(./assets/Suisse\ Works\ Medium.otf);
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

.font_suisse{
  font-family: "suisse";
}

nav {
  height: 70px;
  /* border-bottom: 0.5px solid rgba(128, 128, 128, 0.66); */
  box-shadow: 2px 2px 4px 0px #88888851;
  padding: 8px 25px !important;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}

.main_container {
  max-width: 1340px !important;
  margin: auto;
}

.categories {
  cursor: pointer;
}

.search_input {
  height: 45px;
  width: 610px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.712);
  padding-left: 50px;
  outline: none;
}

.input_div {
  position: relative;
}

.search_icon {
  position: absolute;
  left: 15px;
  top: 16px;
  color: gray;
}

.dropdown {
  padding: 22px 0;
}

.menu1 {
  position: absolute;
  top: 90px;
  width: 260px;
  height: 100vh;
}

.menu2 {
  display: none;
  position: absolute;
  top: 0;
  left: 260px;
  width: 260px;
  height: 100vh;
}
.menu3 {
  display: none;
  position: absolute;
  top: 0;
  left: 260px;
  width: 260px;
  height: 100vh;
}

.business_dropdown {
  position: relative;
}
.teach_dropdown {
  position: relative;
}

.business_dropdown:hover .business_menu {
  display: block;
}

.teach_dropdown:hover .teach_menu {
  display: block;
}

.business_menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px 25px;
  width: 300px;
  height: 180px;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  line-height: 1.1;
}
.teach_menu {
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  padding: 15px 25px;
  width: 300px;
  height: 170px;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  line-height: 1.1;
  z-index: 99;
  background-color: white;
  box-shadow: 1px 2px 10px #888888;
}

.business_menu button {
  padding: 10px 40px;
}

.dd1:hover > .dropdown-menu {
  display: block;
}

.dd_arrow {
  font-size: 10px;
}

.pad {
  color: #525252;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pad_2 {
  font-size: 14px;
  border: none !important;
  padding: 5px 0;
}
.show:hover .menu2 {
  display: block;
}
.show2:hover .menu3 {
  display: block;
}
li a {
  text-wrap: wrap !important;
}
.nav-link:hover,
.show a:hover,
.show2 a:hover {
  color: #5622c3 !important;
}

.carousel {
  position: relative;
  height: 400px;
  width: 1300px;
}

.slick-arrow:before {
  color: black !important;
  height: 30px !important;
  width: 30px !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 50px !important;
}

.slick-prev.slick-arrow,
.slick-next.slick-arrow {
  z-index: 1;
}
.slick-prev:before {
  position: absolute;
  top: -10px;
  left: 50px;
}
.slick-next:before {
  position: absolute;
  top: -10px;
  right: 70px;
}

.carousel_box {
  height: 400px;
  width: 1340px;
  position: relative;
}

.overlay_1 {
  height: 150px;
  width: 450px;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 70px;
}
.overlay_2 {
  height: 250px;
  width: 450px;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 70px;
}
.overlay_1 h1 {
  font-family: "suisse";
  font-size: 32px;
  font-weight: bolder;
}
.overlay_2 h1 {
  font-family: "suisse";
  font-size: 32px;
  font-weight: bold;
  font-weight: 100;
}
.overlay_1 p {
  font-size: 16px;
  font-weight: 400;
}
.btn1 {
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  background-color: #2d2f31;
  color: white;
  font-weight: bold;
}
.btn1:hover {
  background-color: #2d2f31d4;
}
.btn2 {
  padding: 8px 20px;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
}
.btn2:hover {
  background-color: #2d2f3120;
}

.headings h2 {
  font-family: "suisse";
  font-weight: 600;
}
.headings p {
  color: rgb(106, 111, 115);
  font-size: 19px;
  font-weight: 500;
}

.nav-item .nav-link.active {
  /* background-color: rgb(33,37,41) !important; */
  /* text-decoration: underline; */
  color: black !important;
  background-color: white !important;
  border-bottom: 1px solid black;
  border-radius: 0;
}
.nav-tabs {
  border: none !important;
}
.nav-tabs .nav-link {
  border: none !important;
}
.nav-item .nav-link {
  color: gray !important;
  font-weight: 900;
}

.categ:hover {
  color: black !important;
}
hr {
  margin-top: 0;
}

/* swiper */

.swiper-container {
  overflow: hidden;
  position: relative;
  width: 1340px !important;
  height: 400px;
  padding: 0;
}

.swiper-button-prev:after {
  font-size: 15px !important;
  font-weight: 600;
  background-color: #2d2f31;
  padding: 12px 15px;
  border-radius: 50%;
  color: white;
  margin-left: 20px;
}
.swiper-button-next:after {
  font-size: 15px !important;
  font-weight: 600;
  background-color: #2d2f31;
  padding: 12px 15px;
  border-radius: 50%;
  color: white;
  margin-right: 20px;
}

.swiper-wrapper {
  width: 1340px !important;
  height: 400px;
}
.swiper-slide {
  width: 1340px !important;
  height: 400px;
}
.swiper-slide .img_box img {
  height: 100%;
  width: 100%;
}
.cat_main_box {
  position: relative;
}

.cat_box {
  width: 1250px;
  overflow: hidden;
  padding: 0 25px;
}
.sub_categories {
  margin: 30px 0;
  display: flex;
}

.btns button {
  background-color: white;
  border: none;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  padding: 8px 13px;
  border-radius: 50%;
  position: absolute;
}

.left {
  top: 40px;
  left: 0;
}

.right {
  top: 40px;
  right: 0;
}
.badge {
  display: inline-flex;
  flex-direction: column;
  margin-right: 20px;
  height: 60px;
  /* min-width: 100px; */
  padding: 20px;
  border-radius: 35px;
  font-size: 15px;
  justify-content: center;
  font-weight: 900;
  align-items: center;
  background-color: #e4e8eb;
}
.badge:hover {
  background-color: #d1d7dc;
  cursor: pointer;
}

.learners {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  color: #6a6f73;
  text-align: left !important;
}

/* Categories */
.cat_swiper-container,
.js_swiper-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  max-width: 1340px;
  height: 400px;
  padding: 0 25px;
  margin: auto;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 15px;
  font-weight: 600;
  background-color: #2d2f31;
  padding: 12px 15px;
  border-radius: 50%;
  color: white;
}
.wrapped {
  height: 400px !important;
  width: 310px !important;
}
.con.swiper-slide {
  /* width: calc((100% - 90px) / 4); */
  height: 330px;
  border-radius: 10px;
}
.con.swiper-slide.swiper-slide-prev,
.con.swiper-slide.swiper-slide-next,
.con.swiper-slide.swiper-slide-active,
.con.swiper-slide {
  margin-right: 30px !important;
  width: 289px !important; /* Adjust to fit four slides with space between */
}
.img_box {
  height: 160px;
  width: 100%;
}
.img_box img {
  height: 100%;
  width: 100%;
}
.swiper_overlay_1 {
  width: 100%;
  height: 330px;
  background-color: white;
  overflow: hidden;
  border-radius: 8px;
}
.swiper_overlay_1 h6 {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
}
.swiper_overlay_1 p {
  font-size: 15px;
  font-weight: 400;
}
.fa-star,
.fa-star-half-stroke {
  font-size: 12px;
  color: #b4690e;
}
.rating_count {
  font-size: 12px;
}
.course_price {
  font-weight: bolder;
  font-size: 16px;
}

/* .sub_categories{
  width: 1300px;
}
 */

.main.active {
  border-bottom: 2px solid !important;
  color: black !important;
}
.main:hover {
  color: black;
}
.main {
  border: none !important;
  color: gray;
  font-weight: bolder;
}
.tab-content {
  margin-top: 40px !important;
}
.nav-pills .nav-link.active {
  background-color: #2d2f31 !important;
  color: white !important;
}
.nav-item .cat_name_link {
  border-radius: 35px !important;
  color: black !important;
  margin: 0 10px;
  background-color: #e4e8eb !important;
}
.cat_name_link a:hover {
  background-color: #d1d7dc !important;
  cursor: pointer;
  color: black !important;
}
.tab_flex {
  height: 60px;
  display: inline-flex;
  flex-direction: column;
  overflow-x: scroll;
  scrollbar-width: none;
}

.nav-link.course_carousel {
  position: relative;
}

.nav-link.course_carousel:hover {
  color: black !important;
}

.nav-link.course_carousel:hover .carousel_content {
  opacity: 1;
  z-index: 1;
}

.carousel_content::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: white;

  left: -20px;
}

.carousel_content {
  width: 350px;
  padding: 15px 20px;
  padding-bottom: 50px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  position: absolute;
  background-color: white;

  left: calc(100% + 10px);
  top: 0;

  opacity: 0;
  z-index: -99999;

  transition-property: opacity;
  transition-duration: 300ms;
}

.carousel_content button {
  background-color: #a435f0;
  color: white;
  width: 300px;
  height: 50px;
  border: none;
  font-size: 16px;
}

body {
  background-color: #f7f9fa;
}

.trusted_companies {
  height: 225px;
  background-color: white;
}

/* goals */

.goals {
  margin-top: 40px;
}

.goals h2 {
  font-family: "suisse";
}

.nav-link.tab_contain {
  height: 150px;
  width: 530px;
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  border: 1px solid rgb(177, 177, 177) !important;
  border-radius: 10px;
  color: gray;
  margin: 0 10px;
  margin-bottom: 20px;
}
.nav-link.tab_contain.active {
  border-left: 8px solid #a435f0 !important;
  background-color: white;
  color: black;
}
.nav-link.tab_contain.active .tab_content p {
  color: black;
}
.nav-link.tab_contain:hover {
  background-color: #e4e8eb;
}
.nav-link.tab_contain:hover .tab_content p {
  color: black !important;
}
.pane-img {
  height: 660px;
  width: 600px;
}
.pane-img img {
  height: 100%;
  width: 100%;
}

.tab_img {
  height: 64px;
  width: 64px;
}
.tab-content.goal_tab {
  margin-top: 0 !important;
  margin-left: 100px;
}

.tab_content h5 {
  color: black;
}
.tab_content p {
  font-size: 15px;
  font-weight: 500;
  color: #6a6f73;
}
.goal_badge {
  border: 1px solid #5022c3;
  color: #5022c3;
  font-size: 12px;
  font-weight: 900;
  padding: 2px 8px;
  border-radius: 4px;
}
.goal_link {
  color: #5022c3;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  padding-left: 0;
}

/* plans_container---------------------------------------------------------------------------------------------------- */

.plans_container h2 {
  font-weight: 700;
  font-family: "suisse";
}
.plans_container p {
  font-size: 18px;
  color: #6a6f73;
  font-weight: 500;
}

.section_1 {
  border-top: 8px solid #a435f0 !important;
}
.section_2,
.section_3 {
  border-top: 8px solid #5022c3 !important;
}
.plans_section h5 {
  font-family: "suisse";
  font-weight: 500;
}

.plan_header {
  background-color: #f7f9fa;
}
.plans_span {
  font-size: 13px;
}
.plans_user {
  font-size: 14px !important;
  padding-top: 5px;
}
.plan_btn {
  background-color: #2d2f31;
  border: none;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  width: 370px;
  margin: 20px 0;
}

/* reviews */
.reviews_container {
  background-color: #f7f9fa;
}
.reviews_boxes h2 {
  font-family: "suisse";
  font-weight: 900;
}
.review_box {
  background-color: white;
  width: 310px;
  height: 270px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 8px;
}
.review_profile {
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.review_profile img {
  height: 100%;
  width: 100%;
}
.reviewer_details {
  font-size: 13px;
  color: #6a6f73;
  line-height: 1.1;
}
.global_content h2 {
  font-family: "suisse";
}
.global_content p {
  font-size: 18px;
}
.col-md-9 img {
  width: 100%;
  height: 100%;
}

/* trending Container */

.trending_container {
  background-color: #f7f9fa;
}
.trending_heading {
  font-family: "suisse";
}
.trending_links {
  color: #5022c3 !important;
}

/* learners */
.learners_heading {
  font-family: "suisse";
  font-weight: 900;
  padding-bottom: 15px;
}

/* Last Carousel */

.last_carousel {
  background-color: #f7f9fa;
}

.swiper-container_2 {
  overflow: hidden;
  position: relative;
  width: 1340px !important;
  height: 400px;
  padding: 0;
}

.last_swiper {
  height: 646px;
}
.swiper_cont_1,
.swiper_cont_2 {
  height: 646px;
  width: 646px;
}
.swiper_cont_1 {
  padding-top: 70px;
  padding-right: 50px;
  padding-left: 20px;
}
.swiper_cont_2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.swiper_cont_1 .boxes {
  display: flex;
}

.swiper_cont_1 .boxes .box1 {
  margin: 10px 10px;
  border-bottom: 1px solid rgb(209, 215, 220);
}
.swiper_cont_1 .boxes .box2 {
  margin: 10px 10px;
  border-bottom: 1px solid rgb(209, 215, 220);
}
.swiper_cont_1 .boxes p {
  font-size: 15px;
  font-weight: 600 !important;
}

.swiper-container_2 .swiper-button-prev:after {
  color: black;
  border: 1px solid #2d2f31;
  background-color: white !important;
  position: absolute !important;
  bottom: -228px !important;
  left: 0px;
}
.swiper-container_2 .swiper-button-next:after {
  color: black;
  border: 1px solid #2d2f31;
  background-color: white !important;
  left: -1100px;
  bottom: -228px;
  position: absolute;
}

.swiper-container_2
  .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 81px !important;
  left: -538px !important;
  position: absolute !important;
}

/* Footer */
.footer_container {
  margin: 0;
  background-color: #2d2f31;
  border-top: 1px solid #3e4143;
}

.top_companies {
  border-bottom: 1px solid #3e4143;
}

.business {
  color: #c0c4fc !important;
}
.business:hover {
  color: #c0c4fc !important;
  text-decoration: underline;
}
.footer_links:hover {
  color: white !important;
  text-decoration: underline;
}

.diff_links {
  gap: 150px;
}
.cont_4 {
  margin-left: 400px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Course Detail Page */

.breadcrumb_container {
  background: #2d2f31;
  height: 392px;
}

.bread_links {
  color: #c0c4fc;
  font-weight: 900;
}
.voilet_link {
  color: #c0c4fc;
}
.breadcrumb i {
  font-size: 12px;
}

.first_detail_page_container {
  width: 1184px;
}

.course_sticky {
  width: 340px;
  background-color: white;
  position: relative;
}
.sticky_tab {
  position: sticky !important;
  top: 30px !important;
}
.preview_img img {
  height: 100%;
  width: 100%;
}
.bestseller_badge {
  display: inline-block;
  background-color: #eceb98;
  padding: 3px 10px;
  margin-top: 10px;
  font-weight: 700;
  font-size: 12px;
}
.overlay_play {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2d2f3179;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.play_bg {
  background-color: white;
  padding: 15px 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay_play p {
  position: absolute;
  bottom: 2px;
  font-size: 16px;
}
.span_rating {
  color: #b4690e;
  font-weight: 700;
}
.detail_side_2 {
  box-shadow: 0px 1px 4px #d6cfcf;
  background-color: white;
}
.course_details_tab {
  margin-top: 0 !important;
}
.course_details_tab h5 {
  font-family: "suisse";
}
.course_details_tab {
  width: 340px;
}

.course_detail_nav {
  padding: 0 !important;
}
.course_detail_button {
  padding: 10px 50px !important;
  font-size: 16px;
}
.course_detail_nav {
  height: 50px;
}

.subs_btn {
  background-color: #a435f0;
  color: white;
  border: none;
  padding: 12px 80px;
  font-weight: 900;
  font-size: 15px;
}
.month_pricing {
  font-size: 12px;
}
.bottom_border {
  width: 150px;
  border-bottom: 1px solid rgb(181, 180, 180);
}
.course_details_tab_cart_btn {
  border: 1px solid;
  padding: 12px 105px;
  font-weight: 900;
  font-size: 15px;
  background: white;
}

.coupon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dotted gray;
  padding: 8px;
}

.coupon_font {
  font-size: 12px;
}

.business_btn {
  background-color: #a435f0;
  color: white;
  border: none;
  padding: 12px 70px;
  font-weight: 900;
  font-size: 15px;
}
.b_div {
  color: #2d2f31;
}

.learn_container {
  width: 700px;
  margin-left: 210px !important;
}

.coding_exercises {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #f7f9fa;
}

.content_section_link {
  color: #5022c3;
  font-weight: 900;
}
.content_section_link:hover {
  color: #3b198f;
}
.accordiann {
  width: 676px;
  font-size: 15px;
}

/* Table */

.content_info td {
  padding-bottom: 15px;
}

.icon {
  padding-right: 15px;
}

.para {
  padding-right: 260px;
}

.preview {
  width: 80px;
}

.content_info table td a {
  color: #5022c3;
}
.content_info table td a:hover {
  color: #3b198f;
}

/* Table End */

.blue_shade_nav {
  color: #5022c3;
}

.blue_shade_nav:hover {
  color: #3b198f;
}

.show_more_btn {
  margin-top: 20px;
  height: 40px;
  width: 675px;
  border: 1px solid;
  background: white;
  font-weight: 700;
}

.requirements li {
  padding: 3px 0;
  padding-left: 8px;
  color: #2d2f31;
  font-weight: 300;
}

.description {
  position: relative;
  height: 300px;
}

.description_bold {
  font-weight: 900;
}

.description li {
  padding: 3px 0;
  padding-left: 8px;
  color: #2d2f31;
  font-weight: 300;
}

.overlay_bg {
  position: absolute;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.519), #f7f9fa);
}

.review_img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgb(152, 151, 151);
}

.course_box {
  width: 320px;
}

.course_hours {
  color: #1e6055;
  font-weight: bolder;
}

.course_img_box {
  height: 62px;
  width: 62px;
}

.course_img_box img {
  height: 100%;
  width: 100%;
}

.course_bestseller {
  display: inline-block;
  background-color: #eceb98;
  padding: 3px 10px;
  font-weight: 700;
  font-size: 12px;
}

.course_box_p {
  line-height: 1.2;
}

.freq_img_box {
  height: 113px;
  width: 200px;
}

.instructor {
  font-size: 12px;
}

.freq_btn {
  background-color: #a435f0;
  color: white;
  font-weight: 900;
  font-size: 16px;
  border: none;
  padding: 10px 12px;
}
.freq_btn:hover {
  background-color: #8710d8;
}

.freq_box .box1 {
  position: relative;
}

.add_circle {
  position: absolute;
  top: 100px;
  left: 70px;
  height: 50px;
  width: 50px;
  background-color: white;
  box-shadow: 0px 1px 5px gray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add_circle_2 {
  position: absolute;
  top: 230px;
  left: 70px;
  height: 50px;
  width: 50px;
  box-shadow: 0px 1px 5px gray;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.para_box {
  position: relative;
  height: 180px;
}

.para_box .overlay_bg {
  position: absolute;
  top: 100px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.519), #f7f9fa);
}

.commentor {
  height: 40px;
  width: 40px;
}

.review_rating_box {
  height: 230px;
  padding-top: 20px;
  padding-bottom: 40px;
  border-top: 1px solid #ccc;
  width: 300px;
}

.reviews_btn {
  margin-top: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 10px 15px;
  font-weight: 700;
}

.course_box_creator {
  margin-bottom: 0;
  font-size: 12px;
  color: #525252;
}
.report_btn {
  background-color: white;
  width: 680px;
  border: 1px solid;
  height: 40px;
  font-weight: 700;
}

.rotate-icon {
  transform: rotate(180deg);
}

/* -------------------------------------Fixed Position Nav-------------------------------------------------------------------- */

.fixed_container {
  display: none;
  position: fixed;
  top: 0;

  width: 100%;
}

.position_fx_nav {
  background: #2d2f31;
  color: white;
  padding: 12px 15px;
  box-shadow: 5px -4px 18px 0px black;
}

.bdg {
  background-color: #eceb98;
  color: black;
  font-size: 12px;
  padding: 3px 8px;
  font-weight: bold;
}

.position_fx_nav .rating {
  color: #f69c08;
  font-weight: bolder;
}

.position_fx_nav .total_ratings {
  color: #c0c4fc;
}

.fixed_container .tabs.sticky_tab {
  background-color: white;
  width: 350px;
  height: 650px;
  position: absolute !important;
  top: 20px !important;
  right: 210px;
  box-shadow: 0px 2px 4px 1px rgba(128, 128, 128, 0.641);
}

.fixed_container .course_details_tab_cart_btn{
background-color: #a435f0;
color: white;
border: none;
}

.popover_ul {
  list-style: none;
}

.popover_ul li:before {
  content: '✓';
  margin-left: -20px;
  padding-right: 10px;
}

/* ----------------------------------------------------------------------------------------------------- */

.mob_nav{
display: none;
}

.main_mobile{
  display: none;
}







/* ------------------------------------------------------RESPONSIVE------------------------------------------------------------- */



@media only screen and (max-width: 768px) {

  .main_mobile{
    display: block;
    width: 100%;
  }

.main_desktop{
  display: none;
}
.mob_nav{
  height: 60px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: white;
}
.mob_sidebar{
  display: none;
}
.mob_sidebar_wrapper{
  position: fixed;
  width: 270px;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 4;
  overflow: scroll;
}
.mob_sidebar_wrapper .mob_sidebar_top, .mob_sidebar_wrapper .mob_sidebar_mid{
  padding: 20px 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.333);
  background-color: white;
}

.mob_sidebar .mob_sidebar_end {
  padding: 20px 15px;
  background-color: white;
}

.mob_sidebar .mob_sidebar_top .anchor a{
  color: #5022c3;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.mob_cross_div{
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: white;
  padding: 15px;
  border-radius: 50%;
}
.mob_lang_btn{
  background-color: white;
  border: 1px solid black;
  height: 40px;
  width: 140px;
  font-size: 16px;
  text-align: start;
  padding-left: 20px;
}

.nav_button{
  border: none;
  background-color: white;
  font-weight: lighter;
}
.mob_nav_mid{
  height: 30px;
  width: 100px;
}
.mob_nav_mid img{
  height: 100%;
  width: 100%;
}

.mob_nav .mob_search_input{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
}
.mob_nav .mob_search_input input{
  padding: 5px 50px;
  width: 100%;
  height: 60px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.626) ;
}
.mob_nav .mob_search_input input:focus{
  border:1px solid #6a6f73;
}
.mob_nav .mob_search_input .fa-magnifying-glass{
position: absolute;
top: 20px;
left: 15px;
font-size: 13px;
color: gray;
}
.mob_nav .mob_search_input .fa-x{
  position: absolute;
  right: 20px;
  top: 20px;
}

.mob_banner img{
  object-fit: cover;
}
.mob_banner_text h3{
  font-family: "suisse";
}
.mob_search_div{
  position: relative;
}
.mob_search_div input{
  width: 100%;
  height: 50px;
  padding: 5px 10px;
  font-size: 16px;
}
.mob_search_div i{
  position: absolute;
  top:18px;
  right: 5px;
  font-size: 16px;
}
.mob_accordians{
padding-bottom: 8px;
}

.mob_accordians button{
  border: none;
  background-color: #f7f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mob_carousel{
  background-color: #f7f9fa;
}
.mob_carousel h3{
  font-family: "suisse";
}

.mob_swiper_slide {
  height: 600px !important;
  width: 300px !important;
  /* Ensure proper alignment within Swiper */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mob_swiper_achieve{
  height: 350px !important;
  width: 240px !important;
  /* Ensure proper alignment within Swiper */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mob_carousel_content {
  width: 100% !important; /* Adjust to fill the slide's width */
  text-align: left; /* Center the text content */
}

.mob_carousel_content span{
  border: 1px solid #5b30c7;
  color: #5b30c7;
  display: inline-block;
  height: 20px;
  width: 125px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 3px;
}
.mob_carousel_content a{
  color: #5b30c7;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
}
.mob_accordian_content{
  display: none;
}

.mob_rotate-icon {
  transform: rotate(180deg);
  padding-top: 10px;
}

.mob_plans h3{
  font-family: "suisse";
}
.mob_plan_accord{
  background-color: #f7f9fa;
  border: 1px solid #525252a2;
  border-top: 8px solid #a435f0;
  border-radius: 8px;
}
.mob_plan_accord p{
font-size: 13px;
}
.mob_plan_accord_border{
  border-top: 8px solid #5022c3;
}
.mob_plan_btn{
  background-color: #2d2f31;
  border: none;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  height: 50px;
  width: 260px;
  margin: 20px 0;
}
.mob_accord_content{
  display: none;
}
.mob_achieve{
  background-color: #f7f9fa;
}

.mob_learning_testimonial{
height: 345px;
width: 240px;
background-color: white;
}

.mob_learning_testimonial a{
color: #5022c3;
text-decoration: none;
}
.person_details{
  font-size: 12px;
}

.mob_top_trend{
  background-color: white;
}
.mob_top_trend button{
  background-color: white;
  border: 1px solid;
  padding: 12px 83px;
  margin-bottom: 20px;
}
.mob_trending_now{
  background-color: #f7f9fa;
}

.mob_chatgpt a{
  text-decoration: none;
  color: #5b30c7;
  font-size: 15px;
  font-weight: bolder;
  display: block;
  margin-bottom: 10px;
}

.mob_dev_and_des a{
  text-decoration: none;
  color: #5b30c7;
  font-size: 14px;
  font-weight: bolder;
  display: block;
  margin-bottom: 5px;
}
.mob_dev_and_des span{
  font-size: 13px;
}
.mob_dev_div, .mob_des_div{
  margin-bottom: 20px;
}

.mob_trending_now button{
  background-color: white;
  border: 1px solid;
  padding: 12px 50px;
  margin-bottom: 20px;
}
.mob_learners{
  overflow: hidden !important;
}
.mob_learners_carousel{
width: 100%;
}

.mob_footer{
  background-color: #2d2f31;
}

.mob_footer span a{
  color: #c0c4fc;
  text-decoration: none;
}

.mob_footer_partner_logos{
  margin-top: 20px;
}

.mob_footer_partner_logos img{
 margin-right: 20px;
 margin-bottom: 30px;
}

.mob_lang_btn_footer{
  background-color: #2d2f31;
  border: 1px solid white;
  color: white;
  height: 40px;
  width: 140px;
  font-size: 16px;
  text-align: start;
  padding-left: 20px;
  margin-top: 10px;
}

.mob_footer_anchors ul li{
  list-style: none;
  padding: 5px 0;
}

.mob_footer_anchors ul li a{
  color: white;
  text-decoration: none;
}

.mob_swiper-slide{
  width: 350px;
}

.mob_last_carousel{
  height: 800px;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
}
.mob_last_swiper_cont p{
  font-size: 11px;
}
.mob_carousel_btn{
  width: 100%;
  margin-bottom: 100px;
}



/* ----------------------------------------------detail Page---------------------------------------------------------------- */



.detail_mob_breadcrumb a {
  color: #643bca;
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
}

.detail_mob_bread_angle{
  font-size: 10px;
}

.detail_mob_img_banner{
  position: relative;
}

.detail_mob_overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:linear-gradient(rgba(48, 48, 48, 0.378),rgba(0, 0, 0, 0.537));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail_mob_play{
  background-color: white;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 30px;
}

.detail_mob_course_details a{
  color: #5c31c7;
}
.detail_mob_tag{
  background-color: #eceb98;
  padding: 5px 7px;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 10px;
}
.detail_mob_course_details_tab_cart_btn {
  padding: 12px 0;
  width: 100%;
  font-weight: 900;
  font-size: 15px;
  background: #a435f0;
  color: white;
  border: none;
}

.detail_mob_coding_exercise{
  background-color: #f7f9fa;
}

.detail_mob_accordiann{
  width: 100%;
}

.mob_content_info a{
  color: #5c31c7;
}

.detail_mob_show_more_btn {
  margin-top: 20px;
  height: 40px;
  width: 100%;
  border: 1px solid;
  background: white;
  font-weight: 700;
}

.detail_mob_freq_btn {
  background-color: #a435f0;
  color: white;
  font-weight: 900;
  font-size: 16px;
  border: none;
  padding: 13px 0;
  width: 100%;
}


}


