@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@font-face {
  font-family: suisse;
  src: url(./assets/Suisse\ Works\ Medium.otf);
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
}

nav {
  height: 70px;
  /* border-bottom: 0.5px solid rgba(128, 128, 128, 0.66); */
  box-shadow: 2px 2px 4px 0px #88888851;
  padding: 8px 25px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories {
  cursor: pointer;
}

.search_input {
  height: 45px;
  width: 610px;
  border-radius: 30px;
  border: 1px solid rgba(0, 0, 0, 0.712);
  padding-left: 50px;
  outline: none;
}

.input_div {
  position: relative;
}

.search_icon {
  position: absolute;
  left: 15px;
  top: 16px;
  color: gray;
}

.dropdown {
  padding: 20px 0;
}

.menu1 {
  position: absolute;
  top: 90px;
  width: 260px;
  height: 100vh;
}

.menu2 {
  display: none;
  position: absolute;
  top: 0;
  left: 260px;
  width: 260px;
  height: 100vh;
}
.menu3 {
  display: none;
  position: absolute;
  top: 0;
  left: 260px;
  width: 260px;
  height: 100vh;
}

.dd1:hover > .dropdown-menu {
  display: block;
}

.dd_arrow {
  font-size: 10px;
}

.pad {
  color: #525252;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pad_2 {
  font-size: 14px;
  border: none !important;
  padding: 5px 0;
}
.show:hover .menu2 {
  display: block;
}
.show2:hover .menu3 {
  display: block;
}
li a {
  text-wrap: wrap !important;
}
a:hover {
  color: #5622c3 !important;
}

.carousel {
  position: relative;
  height: 400px;
  width: 1300px;
}

.slick-arrow:before{
  color:black !important;
  height: 30px !important;
  width: 30px !important;
}

.slick-prev:before,.slick-next:before{
font-size: 50px !important;
}

.slick-prev.slick-arrow,.slick-next.slick-arrow{
  z-index: 1;
}
.slick-prev:before{
  position: absolute;
  top:-10px;
  left: 50px;
}
.slick-next:before{
  position: absolute;
  top:-10px;
  right: 70px;
}

.carousel_box {
  position: relative;
}

.overlay_1 {
  height: 150px;
  width: 450px;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 70px;
}
.overlay_2 {
  height: 250px;
  width: 450px;
  background-color: white;
  position: absolute;
  top: 70px;
  left: 70px;
}
.overlay_1 h1 {
  font-family: "suisse";
  font-size: 32px;
  font-weight: bold;
  font-weight: 100;
}
.overlay_2 h1 {
  font-family: "suisse";
  font-size: 32px;
  font-weight: bold;
  font-weight: 100;
}
.overlay_1 p {
  font-size: 16px;
  font-weight: 400;
}
.btn1 {
  padding: 10px 20px;
  border: none;
  margin-right: 10px;
  background-color: #2d2f31;
  color: white;
  font-weight: bold;
}
.btn1:hover {
  background-color: #2d2f31d4;
}
.btn2 {
  padding: 8px 20px;
  background-color: white;
  border: 1px solid black;
  font-weight: bold;
}
.btn2:hover {
  background-color: #2d2f3120;
}


.headings h2{
  font-family: "suisse";
}
.headings p{
  color:rgb(106, 111, 115);
  font-size: 19px;
  font-weight: 500;
}